/target
### Node ###
# Logs
logs
*-debug.log*
*-debug.log*
*-error.log*

# Custom
node_modules/
\.DS_Store
src/_daisyui
src/icons/vue

dist
es
lib
**/.yarn/install-state.gz
**/.yarn/cache

docs/src/.demo
.vite-ssg-temp
out/
