registry=https://registry.npm.taobao.org
# 将所有模块放在最顶层，解决组件库打包时报错 vue 中导出的 App、computed 不存在的问题
# shamefully-hoist=true

# 全部提升过于暴力，只提升 vue 相关的到顶层
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*popperjs*
