<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.6/dist/themes.css"
    />
    <script src="/def-common/js/ga.js"></script>
    <style>
      :root {
        background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
        color: hsla(var(--bc) / var(--tw-text-opacity, 1));
      }
    </style>
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.0cf926d4.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.e4fb2856.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.522b9bb6.css" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/alert.8531ab3a.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-50a6b668="">
        <div
          class="h-screen dv-drawer drawer drawer-mobile"
          style="z-index: 100"
          data-v-50a6b668=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div data-v-50a6b668="">
              <header
                class="
                  sticky
                  inset-x-0
                  top-0
                  bg-white
                  border-b border-gray-100
                  z-20
                "
                data-v-50a6b668=""
              >
                <div class="navbar" data-v-50a6b668="">
                  <!--[-->
                  <div class="navbar-start mx-2" data-v-50a6b668="">
                    <!--[-->
                    <div class="lg:hidden" data-v-50a6b668="">
                      <button
                        class="dv-btn btn btn-ghost btn-md btn-square"
                        type="ghost"
                        shape="square"
                        data-v-50a6b668=""
                      >
                        <!--[--><svg
                          class="dv-icon"
                          viewBox="0 0 24 24"
                          focusable="false"
                          aria-hidden="false"
                          fill="none"
                          stroke="currentColor"
                          style="font-size: 2em"
                          data-v-50a6b668=""
                        >
                          <!--[-->
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                          ></path>
                          <!--]--></svg
                        ><!--]-->
                      </button>
                    </div>
                    <!--]-->
                  </div>
                  <div class="navbar-end" data-v-50a6b668="">
                    <!--[--><a
                      class="dv-btn btn btn-ghost btn-md btn-default"
                      component="a"
                      href="https://github.com/daief/daisyui-vue"
                      target="_blank"
                      type="ghost"
                      data-v-50a6b668=""
                      ><!--[--><svg
                        class="dv-icon"
                        viewBox="0 0 512 512"
                        focusable="false"
                        aria-hidden="false"
                        fill="currentColor"
                        stroke="none"
                        style="font-size: 2em"
                        data-v-50a6b668=""
                      >
                        <!--[-->
                        <path
                          d="M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z"
                        ></path>
                        <!--]--></svg
                      ><!--]--></a
                    ><!--]-->
                  </div>
                  <!--]-->
                </div>
              </header>
              <div class="p-4 pb-8 lg:p-10" data-v-50a6b668="">
                <!--[-->
                <div class="markdown-body">
                  <h1>Alert</h1>
                  <h2>Examples</h2>
                  <p>alert</p>
                </div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-">
                      <div class="dv-alert__content">
                        <!----><label
                          ><!--[-->Lorem ipsum dolor sit amet, consectetur adip!<!--]--></label
                        >
                      </div>
                      <!---->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adip!<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert state: info</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-info" type="info">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            ></path>
                            <!--]-->
                          </svg>
                        </div>
                        <label
                          ><!--[-->Lorem ipsum dolor sit amet, consectetur adip!<!--]--></label
                        >
                      </div>
                      <!---->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"info"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adip!<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert state: success</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-success" type="success">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                            ></path>
                            <!--]-->
                          </svg>
                        </div>
                        <label
                          ><!--[-->
                          Lorem ipsum dolor sit amet, consectetur adip!
                          <!--]--></label
                        >
                      </div>
                      <!---->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"success"</span>&gt;</span>
  Lorem ipsum dolor sit amet, consectetur adip!
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert state: warning</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-warning" type="warning">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                            ></path>
                            <!--]-->
                          </svg>
                        </div>
                        <label
                          ><!--[-->
                          Lorem ipsum dolor sit amet, consectetur adip!
                          <!--]--></label
                        >
                      </div>
                      <!---->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"warning"</span>&gt;</span>
  Lorem ipsum dolor sit amet, consectetur adip!
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert state: error</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-error" type="error">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
                            ></path>
                            <!--]-->
                          </svg>
                        </div>
                        <label
                          ><!--[-->
                          Lorem ipsum dolor sit amet, consectetur adip!
                          <!--]--></label
                        >
                      </div>
                      <!---->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"error"</span>&gt;</span>
  Lorem ipsum dolor sit amet, consectetur adip!
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert with actions</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-error" type="error">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
                            ></path>
                            <!--]-->
                          </svg>
                        </div>
                        <label
                          ><!--[-->
                          Lorem ipsum dolor sit amet, consectetur adip!
                          <!--]--></label
                        >
                      </div>
                      <div class="dv-alert__actions">
                        <!--[--><button
                          class="dv-btn btn btn-ghost btn-sm btn-default mr-2"
                          type="ghost"
                          size="sm"
                        >
                          <!--[-->cancel<!--]--></button
                        ><button
                          class="dv-btn btn btn-primary btn-sm btn-default"
                          type="primary"
                          size="sm"
                        >
                          <!--[-->apply<!--]--></button
                        ><!--]-->
                      </div>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"error"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:default</span>&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adip!
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:actions</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"actions"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"ghost"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"sm"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mr-2"</span>&gt;</span>cancel<span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"sm"</span>&gt;</span>apply<span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>alert</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-alert alert alert-">
                      <div class="dv-alert__content">
                        <div class="dv-alert__iconwrap">
                          <!--[--><svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="#ef3636"
                            style=""
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                            ></path>
                            <!--]--></svg
                          ><!--]-->
                        </div>
                        <label
                          ><!--[-->
                          <h4>
                            <!--[-->
                            Lorem ipsum dolor sit amet, consectetur adip!
                            <!--]-->
                          </h4>
                          <p>
                            <!--[-->
                            Lorem ipsum dolor sit amet, consectetur adip! Lorem
                            ipsum dolor sit amet, consectetur adip!Lorem ipsum
                            dolor sit amet, consectetur adip!Lorem ipsum dolor
                            sit amet, consectetur adip!Lorem ipsum dolor sit
                            amet, consectetur adip!Lorem ipsum dolor sit amet,
                            consectetur adip!
                            <!--]-->
                          </p>
                          <!--]--></label
                        >
                      </div>
                      <div class="dv-alert__actions">
                        <!--[--><button
                          class="dv-btn btn btn-ghost btn-sm btn-default mr-2"
                          type="ghost"
                          size="sm"
                        >
                          <!--[--><svg
                            class="dv-icon"
                            viewBox="0 0 24 24"
                            focusable="false"
                            aria-hidden="false"
                            fill="none"
                            stroke="currentColor"
                            style="font-size: 1.5em"
                          >
                            <!--[-->
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                            ></path>
                            <!--]--></svg
                          ><!--]--></button
                        ><!--]-->
                      </div>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">dv-alert</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:icon</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-icon-heart</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"#ef3636"</span> /&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:default</span>&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adip!
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:content</span>&gt;</span>
    Lorem ipsum dolor sit amet, consectetur adip! Lorem ipsum dolor sit amet,
    consectetur adip!Lorem ipsum dolor sit amet, consectetur adip!Lorem ipsum
    dolor sit amet, consectetur adip!Lorem ipsum dolor sit amet, consectetur
    adip!Lorem ipsum dolor sit amet, consectetur adip!
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:actions</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"ghost"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"sm"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mr-2"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-icon-dots</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"1.5em"</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-alert</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body">
                  <h2>Alert</h2>
                  <h3>Attributes</h3>
                  <div data-v-5c5a3078="">
                    <div
                      class="dv-table-wrap dv-markdowntable w-full"
                      data-v-5c5a3078=""
                    >
                      <table class="dv-table table table-zebra table-compact">
                        <colgroup>
                          <!--[-->
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: relative">name</th>
                            <th style="position: relative">description</th>
                            <th style="position: relative">type</th>
                            <th style="position: relative">default</th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">type</td>
                            <td style="position: relative">alert color type</td>
                            <td style="position: relative">
                              info, success, warning, error
                            </td>
                            <td style="position: relative">-</td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <h3>Slots</h3>
                  <div data-v-5c5a3078="">
                    <div
                      class="dv-table-wrap dv-markdowntable w-full"
                      data-v-5c5a3078=""
                    >
                      <table class="dv-table table table-zebra table-compact">
                        <colgroup>
                          <!--[-->
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: relative">name</th>
                            <th style="position: relative">description</th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">default</td>
                            <td style="position: relative">alert title</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">content</td>
                            <td style="position: relative">alert content</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">actions</td>
                            <td style="position: relative">alert actions</td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--]-->
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-white border-r border-gray-200"
              data-v-50a6b668=""
            >
              <ul class="menu compact rounded-box p-4" data-v-50a6b668="">
                <!--[-->
                <li class="menu-title" data-v-50a6b668="">
                  <span class="">Components</span>
                </li>
                <!--[-->
                <li class="capitalize" childwrapper="false">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue/components/alert"
                    class="active router-link-exact-active"
                    >alert</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/artboard" class=""
                    >artboard</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/badge" class=""
                    >badge</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/drawer" class=""
                    >drawer</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/icons" class=""
                    >icons</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/table" class=""
                    >table</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/tooltip" class=""
                    >tooltip</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
