<!DOCTYPE html><html lang="en" data-theme="light"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daisyui Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@2.0.9/dist/themes.css">
    <script src="/def-common/js/ga.js"></script>
    <style daisyui-vue="0.0.1-alpha.2"></style>
    <style>
      :root {
        background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
        color: hsla(var(--bc) / var(--tw-text-opacity, 1));
      }
    </style>
    <script type="module" async="" crossorigin="" src="/daisyui-vue/assets/app.4de69f31.js"></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.dede1e1c.js">
    <link rel="stylesheet" href="/daisyui-vue/assets/app.4e4e86c4.css">
  <meta name="head:count" content="0"></head>
  <body>
    <div id="app" data-server-rendered="true"><main data-v-0a86feb8=""><!----></main></div>
    
  

</body></html>