<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.6d782fd3.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.44a2ddf6.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.a58153e7.css" />
    <link rel="manifest" href="/daisyui-vue/manifest.webmanifest" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/button.c264578f.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-3c9aee03="">
        <div
          class="h-screen drawer drawer-mobile"
          style="z-index: 100"
          data-v-3c9aee03=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div class="p-4 lg:p-10" data-v-3c9aee03="">
              <div class="markdown-body" data-v-3c9aee03="">
                <h1>Button</h1>
                <div class="py-2">
                  <!--[-->
                  <div class="tabs">
                    <!--[--><a class="tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="flex-1 cursor-default tab tab-lifted"></div>
                  </div>
                  <!--[-->
                  <div class="mt-2">
                    <!--[--><!--[-->
                    <div
                      class="
                        flex flex-wrap
                        items-start
                        md:space-x-2
                        space-y-2
                        md:space-y-0
                        flex-col
                        md:flex-row
                      "
                    >
                      <button class="btn btn-md"><!--[-->netural<!--]--></button
                      ><button class="btn btn-primary btn-md">
                        <!--[-->secondary<!--]--></button
                      ><button class="btn btn-secondary btn-md">
                        <!--[-->secondary<!--]--></button
                      ><button class="btn btn-accent btn-md">
                        <!--[-->accent<!--]--></button
                      ><button class="btn btn-ghost btn-md">
                        <!--[-->ghost<!--]--></button
                      ><button class="btn btn-link btn-md">
                        <!--[-->link<!--]-->
                      </button>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div class="mt-2 hidden">
                    <!--[-->
                    <pre><code class="hljs language-html" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"flex flex-wrap items-start md:space-x-2 space-y-2 md:space-y-0 flex-col md:flex-row"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span>&gt;</span>netural<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span>&gt;</span>secondary<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"secondary"</span>&gt;</span>secondary<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"accent"</span>&gt;</span>accent<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"ghost"</span>&gt;</span>ghost<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"link"</span>&gt;</span>link<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="py-2">
                  <!--[-->
                  <div class="tabs">
                    <!--[--><a class="tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="flex-1 cursor-default tab tab-lifted"></div>
                  </div>
                  <!--[-->
                  <div class="mt-2">
                    <!--[--><!--[-->
                    <div
                      class="
                        flex flex-wrap
                        items-start
                        md:space-x-2
                        space-y-2
                        md:space-y-0
                        flex-col
                        md:flex-row
                      "
                    >
                      <button class="btn btn-md"><!--[-->netural<!--]--></button
                      ><button class="btn btn-primary btn-md btn-outline">
                        <!--[-->secondary<!--]--></button
                      ><button class="btn btn-secondary btn-md btn-outline">
                        <!--[-->secondary<!--]--></button
                      ><button class="btn btn-accent btn-md btn-outline">
                        <!--[-->accent<!--]--></button
                      ><button class="btn btn-ghost btn-md btn-outline">
                        <!--[-->ghost<!--]--></button
                      ><button class="btn btn-link btn-md btn-outline">
                        <!--[-->link<!--]-->
                      </button>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div class="mt-2 hidden">
                    <!--[-->
                    <pre><code class="hljs language-html" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"flex flex-wrap items-start md:space-x-2 space-y-2 md:space-y-0 flex-col md:flex-row"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span>&gt;</span>netural<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">outline</span>&gt;</span>secondary<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"secondary"</span> <span class="hljs-attr">outline</span>&gt;</span>secondary<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"accent"</span> <span class="hljs-attr">outline</span>&gt;</span>accent<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"ghost"</span> <span class="hljs-attr">outline</span>&gt;</span>ghost<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"link"</span> <span class="hljs-attr">outline</span>&gt;</span>link<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-base-100 border-r border-base-200"
              data-v-3c9aee03=""
            >
              <ul class="menu compact rounded-box p-4" data-v-3c9aee03="">
                <!--[-->
                <li class="menu-title" data-v-3c9aee03="">
                  <span>Components</span>
                </li>
                <!--[-->
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue//components/button"
                    class="active router-link-exact-active"
                    >button</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
