<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/themes.css"
    />
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.a74ae7ab.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.d7a40cf1.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.e950f871.css" />
    <link rel="manifest" href="/daisyui-vue/manifest.webmanifest" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/drawer.4bf5b268.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-2396406f="">
        <div
          class="h-screen dv-drawer drawer drawer-mobile"
          style="z-index: 100"
          data-v-2396406f=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div data-v-2396406f="">
              <header
                class="
                  sticky
                  inset-x-0
                  top-0
                  bg-white
                  border-b border-gray-100
                  z-20
                "
                data-v-2396406f=""
              >
                <div class="navbar" data-v-2396406f="">
                  <!--[-->
                  <div class="navbar-start mx-2" data-v-2396406f="">
                    <!--[-->
                    <div class="lg:hidden" data-v-2396406f="">
                      <button
                        class="dv-btn btn btn-ghost btn-md btn-square"
                        type="ghost"
                        shape="square"
                        data-v-2396406f=""
                      >
                        <!--[--><svg
                          class="dv-icon"
                          viewBox="0 0 24 24"
                          focusable="false"
                          aria-hidden="false"
                          fill="none"
                          stroke="currentColor"
                          style="font-size: 2em"
                          data-v-2396406f=""
                        >
                          <!--[-->
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                          ></path>
                          <!--]--></svg
                        ><!--]-->
                      </button>
                    </div>
                    <!--]-->
                  </div>
                  <div class="navbar-end" data-v-2396406f="">
                    <!--[--><a
                      class="dv-btn btn btn-ghost btn-md btn-default"
                      component="a"
                      href="https://github.com/daief/daisyui-vue"
                      target="_blank"
                      type="ghost"
                      data-v-2396406f=""
                      ><!--[--><svg
                        class="dv-icon"
                        viewBox="0 0 512 512"
                        focusable="false"
                        aria-hidden="false"
                        fill="currentColor"
                        stroke="none"
                        style="font-size: 2em"
                        data-v-2396406f=""
                      >
                        <!--[-->
                        <path
                          d="M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z"
                        ></path>
                        <!--]--></svg
                      ><!--]--></a
                    ><!--]-->
                  </div>
                  <!--]-->
                </div>
              </header>
              <div class="p-4 pb-8 lg:p-10" data-v-2396406f="">
                <div class="markdown-body" data-v-2396406f="">
                  <h1>Drawer</h1>
                  <h2>Examples</h2>
                  <pre><code class="hljs language-html"><span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">setup</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"ts"</span>&gt;</span><span class="language-javascript">
  <span class="hljs-keyword">import</span> { ref } <span class="hljs-keyword">from</span> <span class="hljs-string">'vue'</span>;

  <span class="hljs-keyword">const</span> open = <span class="hljs-title function_">ref</span>(<span class="hljs-literal">null</span>);

  <span class="hljs-keyword">function</span> <span class="hljs-title function_">setOpen</span>(<span class="hljs-params">type</span>) {
    open.<span class="hljs-property">value</span> = type;
  }

  <span class="hljs-keyword">function</span> <span class="hljs-title function_">close</span>(<span class="hljs-params"></span>) {
    open.<span class="hljs-property">value</span> = <span class="hljs-literal">null</span>;
  }

  <span class="hljs-keyword">function</span> <span class="hljs-title function_">isOpen</span>(<span class="hljs-params">type</span>) {
    <span class="hljs-keyword">return</span> open.<span class="hljs-property">value</span> === type;
  }
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</code></pre>
                  <p>global drawer, mouts on body</p>
                  <div class="dv-playground py-2">
                    <!--[-->
                    <div class="dv-tabs tabs">
                      <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                        >Preview</a
                      ><a class="dv-tab tab tab-lifted tab-md">Code</a
                      ><!--]-->
                      <div class="dv-tabs__lifted-item"></div>
                    </div>
                    <!--[-->
                    <div class="dv-tab-content">
                      <!--[--><!--[-->
                      <div
                        class="
                          rounded-lg
                          shadow
                          bg-base-200
                          h-52
                          flex
                          justify-center
                          items-center
                        "
                      >
                        <button
                          class="dv-btn btn btn-primary btn-md btn-default"
                          type="primary"
                        >
                          <!--[-->open<!--]-->
                        </button>
                      </div>
                      <!--teleport start--><!--teleport end--><!--]--><!--]-->
                    </div>
                    <div class="dv-tab-content dv-tab-content--hidden">
                      <!--[-->
                      <pre><code class="hljs language-html rounded-md" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"rounded-lg shadow bg-base-200 h-52 flex justify-center items-center"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">:onClick</span>=<span class="hljs-string">"() =&gt; setOpen('d1')"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span>&gt;</span>open<span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">dv-drawer</span> <span class="hljs-attr">:open</span>=<span class="hljs-string">"isOpen('d1')"</span> @<span class="hljs-attr">close</span>=<span class="hljs-string">"close"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white w-80 py-4"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-drawer</span>&gt;</span>
</code></pre>
                      <!--]-->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <p>drawer disable teleport</p>
                  <div class="dv-playground py-2">
                    <!--[-->
                    <div class="dv-tabs tabs">
                      <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                        >Preview</a
                      ><a class="dv-tab tab tab-lifted tab-md">Code</a
                      ><!--]-->
                      <div class="dv-tabs__lifted-item"></div>
                    </div>
                    <!--[-->
                    <div class="dv-tab-content">
                      <!--[--><!--[-->
                      <div>
                        <div
                          class="
                            rounded-lg
                            shadow
                            bg-base-200
                            h-52
                            dv-drawer
                            drawer
                          "
                          style="z-index: 100"
                        >
                          <input type="checkbox" class="drawer-toggle" />
                          <div class="drawer-content">
                            <!--[-->
                            <div
                              class="h-full flex justify-center items-center"
                            >
                              <button
                                class="
                                  dv-btn
                                  btn btn-primary btn-md btn-default
                                "
                                type="primary"
                              >
                                <!--[-->
                                open
                                <!--]-->
                              </button>
                            </div>
                            <!--]-->
                          </div>
                          <div class="drawer-side" style="display: none">
                            <div class="drawer-overlay"></div>
                            <!--[-->
                            <div class="bg-white w-80 py-4">
                              <ul class="menu px-4">
                                <!--[-->
                                <li class=""><a>item1</a></li>
                                <li class=""><a>item2</a></li>
                                <li class=""><a>item3</a></li>
                                <!--]-->
                              </ul>
                            </div>
                            <!--]-->
                          </div>
                        </div>
                      </div>
                      <!--]--><!--]-->
                    </div>
                    <div class="dv-tab-content dv-tab-content--hidden">
                      <!--[-->
                      <pre><code class="hljs language-html rounded-md" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">dv-drawer</span>
    <span class="hljs-attr">:open</span>=<span class="hljs-string">"isOpen('d2')"</span>
    <span class="hljs-attr">disableTeleport</span>
    @<span class="hljs-attr">close</span>=<span class="hljs-string">"close"</span>
    <span class="hljs-attr">class</span>=<span class="hljs-string">"rounded-lg shadow bg-base-200 h-52"</span>
  &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:default</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white w-80 py-4"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"px-4"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h-full flex justify-center items-center"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">:onClick</span>=<span class="hljs-string">"() =&gt; setOpen('d2')"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span>&gt;</span>
          open
        <span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">dv-drawer</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code></pre>
                      <!--]-->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <p>sliding drawer for mobile only</p>
                  <div class="dv-playground py-2">
                    <!--[-->
                    <div class="dv-tabs tabs">
                      <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                        >Preview</a
                      ><a class="dv-tab tab tab-lifted tab-md">Code</a
                      ><!--]-->
                      <div class="dv-tabs__lifted-item"></div>
                    </div>
                    <!--[-->
                    <div class="dv-tab-content">
                      <!--[--><!--[-->
                      <div
                        class="
                          rounded-lg
                          shadow
                          bg-base-200
                          h-52
                          dv-drawer
                          drawer drawer-mobile
                        "
                        style="z-index: 100"
                      >
                        <input type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                          <!--[-->
                          <div
                            class="
                              h-full
                              flex
                              justify-center
                              items-center
                              text-center
                            "
                          >
                            <p class="hidden lg:block px-5">
                              Menu is always open on desktop size. Resize the
                              browser to see toggle button on mobile size
                            </p>
                            <div class="lg:hidden px-5">
                              <p>
                                Menu can be toggled on mobile size. <br />
                                Resize the browser to see fixed sidebar on
                                desktop size
                              </p>
                              <button
                                class="
                                  dv-btn
                                  btn btn-primary btn-md btn-default
                                "
                                type="primary"
                              >
                                <!--[-->
                                open
                                <!--]-->
                              </button>
                            </div>
                          </div>
                          <!--]-->
                        </div>
                        <div class="drawer-side">
                          <div class="drawer-overlay"></div>
                          <!--[-->
                          <div
                            class="bg-white w-80 py-4 border-r border-gray-100"
                          >
                            <ul class="menu px-4">
                              <!--[-->
                              <li class=""><a>item1</a></li>
                              <li class=""><a>item2</a></li>
                              <li class=""><a>item3</a></li>
                              <!--]-->
                            </ul>
                          </div>
                          <!--]-->
                        </div>
                      </div>
                      <!--]--><!--]-->
                    </div>
                    <div class="dv-tab-content dv-tab-content--hidden">
                      <!--[-->
                      <pre><code class="hljs language-html rounded-md" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">dv-drawer</span>
  <span class="hljs-attr">:open</span>=<span class="hljs-string">"isOpen('d3')"</span>
  <span class="hljs-attr">disableTeleport</span>
  <span class="hljs-attr">mobileOnly</span>
  @<span class="hljs-attr">close</span>=<span class="hljs-string">"close"</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"rounded-lg shadow bg-base-200 h-52"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:default</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white w-80 py-4 border-r border-gray-100"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"px-4"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"h-full flex justify-center items-center text-center"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"hidden lg:block px-5"</span>&gt;</span>
        Menu is always open on desktop size. Resize the browser to see toggle
        button on mobile size
      <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"lg:hidden px-5"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>
          &gt;</span>Menu can be toggled on mobile size.
          <span class="hljs-tag">&lt;<span class="hljs-name">br</span> /&gt;</span>
          Resize the browser to see fixed sidebar on desktop size
        <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">:onClick</span>=<span class="hljs-string">"() =&gt; setOpen('d3')"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span>&gt;</span>
          open
        <span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-drawer</span>&gt;</span>
</code></pre>
                      <!--]-->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <p>navbar menu for desktop + drawer for mobile</p>
                  <div class="dv-playground py-2">
                    <!--[-->
                    <div class="dv-tabs tabs">
                      <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                        >Preview</a
                      ><a class="dv-tab tab tab-lifted tab-md">Code</a
                      ><!--]-->
                      <div class="dv-tabs__lifted-item"></div>
                    </div>
                    <!--[-->
                    <div class="dv-tab-content">
                      <!--[--><!--[-->
                      <div
                        class="
                          rounded-lg
                          shadow
                          bg-gray-200
                          h-52
                          dv-drawer
                          drawer
                        "
                        style="z-index: 100"
                      >
                        <input type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                          <!--[-->
                          <div class="navbar bg-gray-300">
                            <!--[-->
                            <div class="flex-none lg:hidden">
                              <button
                                class="dv-btn btn btn-ghost btn-md btn-default"
                                type="ghost"
                              >
                                <!--[--><svg
                                  class="dv-icon"
                                  viewBox="0 0 24 24"
                                  focusable="false"
                                  aria-hidden="false"
                                  fill="none"
                                  stroke="currentColor"
                                  style="font-size: 1.5em"
                                >
                                  <!--[-->
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"
                                  ></path>
                                  <!--]--></svg
                                ><!--]-->
                              </button>
                            </div>
                            <div class="flex-1 mx-2">
                              Change screen size to show/hide menu
                            </div>
                            <div class="flex-none hidden lg:block">
                              <ul class="menu horizontal p-2">
                                <!--[-->
                                <li class=""><a>item1</a></li>
                                <li class=""><a>item2</a></li>
                                <li class=""><a>item3</a></li>
                                <!--]-->
                              </ul>
                            </div>
                            <!--]-->
                          </div>
                          <!--]-->
                        </div>
                        <div class="drawer-side" style="display: none">
                          <div class="drawer-overlay"></div>
                          <!--[-->
                          <div
                            class="bg-white w-80 py-4 border-r border-gray-100"
                          >
                            <ul class="menu p-">
                              <!--[-->
                              <li class=""><a>item1</a></li>
                              <li class=""><a>item2</a></li>
                              <li class=""><a>item3</a></li>
                              <!--]-->
                            </ul>
                          </div>
                          <!--]-->
                        </div>
                      </div>
                      <!--]--><!--]-->
                    </div>
                    <div class="dv-tab-content dv-tab-content--hidden">
                      <!--[-->
                      <pre><code class="hljs language-html rounded-md" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">dv-drawer</span>
  <span class="hljs-attr">:open</span>=<span class="hljs-string">"isOpen('d4')"</span>
  <span class="hljs-attr">disableTeleport</span>
  @<span class="hljs-attr">close</span>=<span class="hljs-string">"close"</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"rounded-lg shadow bg-gray-200 h-52"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:default</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white w-80 py-4 border-r border-gray-100"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">v-slot:content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-navbar</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-gray-300"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-none lg:hidden"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">:onClick</span>=<span class="hljs-string">"() =&gt; setOpen('d4')"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"ghost"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-icon-menu</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"1.5em"</span> /&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-1 mx-2"</span>&gt;</span> Change screen size to show/hide menu <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-none hidden lg:block"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-2"</span> <span class="hljs-attr">horizontal</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">dv-navbar</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-drawer</span>&gt;</span>
</code></pre>
                      <!--]-->
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <p>drawer right</p>
                  <div class="dv-playground py-2">
                    <!--[-->
                    <div class="dv-tabs tabs">
                      <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                        >Preview</a
                      ><a class="dv-tab tab tab-lifted tab-md">Code</a
                      ><!--]-->
                      <div class="dv-tabs__lifted-item"></div>
                    </div>
                    <!--[-->
                    <div class="dv-tab-content">
                      <!--[--><!--[-->
                      <div
                        class="
                          rounded-lg
                          shadow
                          bg-base-200
                          h-52
                          flex
                          justify-center
                          items-center
                        "
                      >
                        <button
                          class="dv-btn btn btn-primary btn-md btn-default"
                          type="primary"
                        >
                          <!--[-->open<!--]-->
                        </button>
                      </div>
                      <!--teleport start--><!--teleport end--><!--]--><!--]-->
                    </div>
                    <div class="dv-tab-content dv-tab-content--hidden">
                      <!--[-->
                      <pre><code class="hljs language-html rounded-md" hljs-language="html"><span class="hljs-tag">&lt;<span class="hljs-name">div</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">"rounded-lg shadow bg-base-200 h-52 flex justify-center items-center"</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">dv-button</span> <span class="hljs-attr">:onClick</span>=<span class="hljs-string">"() =&gt; setOpen('d5')"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span>&gt;</span>open<span class="hljs-tag">&lt;/<span class="hljs-name">dv-button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">dv-drawer</span> <span class="hljs-attr">:open</span>=<span class="hljs-string">"isOpen('d5')"</span> @<span class="hljs-attr">close</span>=<span class="hljs-string">"close"</span> <span class="hljs-attr">placement</span>=<span class="hljs-string">"right"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white w-80 py-4"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item1<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item2<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">dv-menu-item</span>&gt;</span>item3<span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">dv-menu</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">dv-drawer</span>&gt;</span>
</code></pre>
                      <!--]-->
                    </div>
                    <!--]--><!--]-->
                  </div>
                </div>
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-white border-r border-gray-200"
              data-v-2396406f=""
            >
              <ul class="menu compact rounded-box p-4" data-v-2396406f="">
                <!--[-->
                <li class="menu-title" data-v-2396406f="">
                  <span>Components</span>
                </li>
                <!--[-->
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/alert" class=""
                    >alert</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue//components/drawer"
                    class="active router-link-exact-active"
                    >drawer</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/icons" class=""
                    >icons</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
