<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/themes.css"
    />
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.1b2cce32.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.596f70a4.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.0210328c.css" />
    <link rel="manifest" href="/daisyui-vue/manifest.webmanifest" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/icons.2c652f66.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-e181a6f4="">
        <div
          class="h-screen dv-drawer drawer drawer-mobile"
          style="z-index: 100"
          data-v-e181a6f4=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div data-v-e181a6f4="">
              <header
                class="
                  sticky
                  inset-x-0
                  top-0
                  bg-white
                  border-b border-gray-100
                  z-20
                "
                data-v-e181a6f4=""
              >
                <div class="navbar" data-v-e181a6f4="">
                  <!--[-->
                  <div class="navbar-start mx-2" data-v-e181a6f4="">
                    <!--[--><button
                      class="dv-btn btn btn-ghost btn-md btn-square lg:hidden"
                      type="ghost"
                      shape="square"
                      data-v-e181a6f4=""
                    >
                      <!--[--><svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                        data-v-e181a6f4=""
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"
                        ></path>
                        <!--]--></svg
                      ><!--]--></button
                    ><!--]-->
                  </div>
                  <div class="navbar-end" data-v-e181a6f4="">
                    <!--[--><a
                      class="dv-btn btn btn-ghost btn-md btn-default"
                      component="a"
                      href="https://github.com/daief/daisyui-vue"
                      target="_blank"
                      type="ghost"
                      data-v-e181a6f4=""
                      ><!--[-->github<!--]--></a
                    ><!--]-->
                  </div>
                  <!--]-->
                </div>
              </header>
              <div class="p-4 pb-8 lg:p-10" data-v-e181a6f4="">
                <div class="markdown-body" data-v-e181a6f4="">
                  <h1>Icons</h1>
                  <div
                    class="
                      grid grid-cols-4
                      md:grid-cols-5
                      lg:grid-cols-6
                      2xl:grid-cols-7
                      text-md
                    "
                  >
                    <!--[-->
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconAdjustments"
                      >
                        IconAdjustments
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconArchive"
                      >
                        IconArchive
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 5l7 7-7 7"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconArrow"
                      >
                        IconArrow
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M10 19l-7-7m0 0l7-7m-7 7h18"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconBack"
                      >
                        IconBack
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconBell"
                      >
                        IconBell
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconBookOpen"
                      >
                        IconBookOpen
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconCheck"
                      >
                        IconCheck
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M6 18L18 6M6 6l12 12"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconClose"
                      >
                        IconClose
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconCode"
                      >
                        IconCode
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          d="M19,11.5C19,11.5 17,13.67 17,15C17,16.1 17.9,17 19,17C20.1,17 21,16.1 21,15C21,13.67 19,11.5 19,11.5M5.21,10L10,5.21L14.79,10M16.56,8.94L7.62,0L6.21,1.41L8.59,3.79L3.44,8.94C2.85,9.5 2.85,10.47 3.44,11.06L8.94,16.56C9.23,16.85 9.62,17 10,17C10.38,17 10.77,16.85 11.06,16.56L16.56,11.06C17.15,10.47 17.15,9.5 16.56,8.94Z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconColor"
                      >
                        IconColor
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconColorSwatch"
                      >
                        IconColorSwatch
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconDocumentAdd"
                      >
                        IconDocumentAdd
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconDots"
                      >
                        IconDots
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconEye"
                      >
                        IconEye
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconFolder"
                      >
                        IconFolder
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconHeart"
                      >
                        IconHeart
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M8 4H6a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-2m-4-1v8m0 0l3-3m-3 3L9 8m-5 5h2.586a1 1 0 01.707.293l2.414 2.414a1 1 0 00.707.293h3.172a1 1 0 00.707-.293l2.414-2.414a1 1 0 01.707-.293H20"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconInboxIn"
                      >
                        IconInboxIn
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconInfo"
                      >
                        IconInfo
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconInvalid"
                      >
                        IconInvalid
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M13 10V3L4 14h7v7l9-11h-7z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconLightningBolt"
                      >
                        IconLightningBolt
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconMenu"
                      >
                        IconMenu
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h7"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconMenuAlt2"
                      >
                        IconMenuAlt2
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconSearch"
                      >
                        IconSearch
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconTemplate"
                      >
                        IconTemplate
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconText"
                      >
                        IconText
                      </p>
                    </div>
                    <div class="py-4 text-center">
                      <svg
                        class="dv-icon"
                        viewBox="0 0 24 24"
                        focusable="false"
                        aria-hidden="false"
                        fill="none"
                        stroke="currentColor"
                        style="font-size: 2em"
                      >
                        <!--[-->
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                        ></path>
                        <!--]--></svg
                      ><br />
                      <p
                        class="
                          mt-1
                          overflow-ellipsis overflow-hidden
                          whitespace-nowrap
                        "
                        title="IconWarning"
                      >
                        IconWarning
                      </p>
                    </div>
                    <!--]-->
                  </div>
                </div>
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-white border-r border-gray-200"
              data-v-e181a6f4=""
            >
              <ul class="menu compact rounded-box p-4" data-v-e181a6f4="">
                <!--[-->
                <li class="menu-title" data-v-e181a6f4="">
                  <span>Components</span>
                </li>
                <!--[-->
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/alert" class=""
                    >alert</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/drawer" class=""
                    >drawer</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue//components/icons"
                    class="active router-link-exact-active"
                    >icons</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue//components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
