<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.5931973f.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.44a2ddf6.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.f55a9b0b.css" />
    <link rel="manifest" href="/daisyui-vue/manifest.webmanifest" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/menu.ae8be62b.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-60f56cd4="">
        <div
          class="h-screen drawer drawer-mobile"
          style="z-index: 100"
          data-v-60f56cd4=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div class="p-4 pb-8 lg:p-10" data-v-60f56cd4="">
              <div class="markdown-body" data-v-60f56cd4=""><p>11</p></div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-base-100 border-r border-base-200"
              data-v-60f56cd4=""
            >
              <ul class="menu compact rounded-box p-4" data-v-60f56cd4="">
                <!--[-->
                <li class="menu-title" data-v-60f56cd4="">
                  <span>Components</span>
                </li>
                <!--[-->
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue//components/menu"
                    class="active router-link-exact-active"
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
