<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/themes.css"
    />
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.ef920495.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.c94012a2.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.4d86c9d6.css" />
    <link rel="manifest" href="/daisyui-vue/manifest.webmanifest" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/tab.35e0ecee.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-692e6b07="">
        <div
          class="h-screen dv-drawer drawer drawer-mobile"
          style="z-index: 100"
          data-v-692e6b07=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div data-v-692e6b07="">
              <header
                class="
                  sticky
                  inset-x-0
                  top-0
                  bg-white
                  border-b border-gray-100
                  z-20
                "
                data-v-692e6b07=""
              >
                <div class="navbar" data-v-692e6b07="">
                  <!--[-->
                  <div class="navbar-start mx-2" data-v-692e6b07="">
                    <!--[--><button
                      class="dv-btn btn btn-ghost btn-md btn-square lg:hidden"
                      data-v-692e6b07=""
                    >
                      <!--[-->menu<!--]--></button
                    ><!--]-->
                  </div>
                  <div class="navbar-end" data-v-692e6b07="">
                    <!--[--><a
                      class="dv-btn btn btn-ghost btn-md btn-default"
                      href="https://github.com/daief/daisyui-vue"
                      target="_blank"
                      data-v-692e6b07=""
                      ><!--[-->github<!--]--></a
                    ><!--]-->
                  </div>
                  <!--]-->
                </div>
              </header>
              <div class="p-4 pb-8 lg:p-10" data-v-692e6b07="">
                <div class="markdown-body" data-v-692e6b07="">
                  <pre><code class="language-tsx">&lt;div&gt;
  &lt;Button&gt;1&lt;/Button&gt;
&lt;/div&gt;
</code></pre>
                </div>
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-white border-r border-gray-200"
              data-v-692e6b07=""
            >
              <ul class="menu compact rounded-box p-4" data-v-692e6b07="">
                <!--[-->
                <li class="menu-title" data-v-692e6b07="">
                  <span>Components</span>
                </li>
                <!--[-->
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/drawer" class=""
                    >drawer</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a href="/daisyui-vue//components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue//components/tab"
                    class="active router-link-exact-active"
                    >tab</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
