<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daisyui Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/themes.css"
    />
    <script
      type="module"
      async=""
      crossorigin=""
      src="/daisyui-vue/assets/app.29df4307.js"
    ></script>
    <link rel="modulepreload" href="/daisyui-vue/assets/vendor.d9770567.js" />
    <link rel="stylesheet" href="/daisyui-vue/assets/app.9cdf748b.css" />
    <link
      rel="modulepreload"
      crossorigin=""
      href="/daisyui-vue/assets/table.43ecd091.js"
    />
    <meta name="head:count" content="0" />
  </head>
  <body>
    <div id="app" data-server-rendered="true">
      <main data-v-50a6b668="">
        <div
          class="h-screen dv-drawer drawer drawer-mobile"
          style="z-index: 100"
          data-v-50a6b668=""
        >
          <input type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!--[-->
            <div data-v-50a6b668="">
              <header
                class="
                  sticky
                  inset-x-0
                  top-0
                  bg-white
                  border-b border-gray-100
                  z-20
                "
                data-v-50a6b668=""
              >
                <div class="navbar" data-v-50a6b668="">
                  <!--[-->
                  <div class="navbar-start mx-2" data-v-50a6b668="">
                    <!--[-->
                    <div class="lg:hidden" data-v-50a6b668="">
                      <button
                        class="dv-btn btn btn-ghost btn-md btn-square"
                        type="ghost"
                        shape="square"
                        data-v-50a6b668=""
                      >
                        <!--[--><svg
                          class="dv-icon"
                          viewBox="0 0 24 24"
                          focusable="false"
                          aria-hidden="false"
                          fill="none"
                          stroke="currentColor"
                          style="font-size: 2em"
                          data-v-50a6b668=""
                        >
                          <!--[-->
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                          ></path>
                          <!--]--></svg
                        ><!--]-->
                      </button>
                    </div>
                    <!--]-->
                  </div>
                  <div class="navbar-end" data-v-50a6b668="">
                    <!--[--><a
                      class="dv-btn btn btn-ghost btn-md btn-default"
                      component="a"
                      href="https://github.com/daief/daisyui-vue"
                      target="_blank"
                      type="ghost"
                      data-v-50a6b668=""
                      ><!--[--><svg
                        class="dv-icon"
                        viewBox="0 0 512 512"
                        focusable="false"
                        aria-hidden="false"
                        fill="currentColor"
                        stroke="none"
                        style="font-size: 2em"
                        data-v-50a6b668=""
                      >
                        <!--[-->
                        <path
                          d="M256,32C132.3,32,32,134.9,32,261.7c0,101.5,64.2,187.5,153.2,217.9a17.56,17.56,0,0,0,3.8.4c8.3,0,11.5-6.1,11.5-11.4,0-5.5-.2-19.9-.3-39.1a102.4,102.4,0,0,1-22.6,2.7c-43.1,0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1,1.4-14.1h.1c22.5,2,34.3,23.8,34.3,23.8,11.2,19.6,26.2,25.1,39.6,25.1a63,63,0,0,0,25.6-6c2-14.8,7.8-24.9,14.2-30.7-49.7-5.8-102-25.5-102-113.5,0-25.1,8.7-45.6,23-61.6-2.3-5.8-10-29.2,2.2-60.8a18.64,18.64,0,0,1,5-.5c8.1,0,26.4,3.1,56.6,24.1a208.21,208.21,0,0,1,112.2,0c30.2-21,48.5-24.1,56.6-24.1a18.64,18.64,0,0,1,5,.5c12.2,31.6,4.5,55,2.2,60.8,14.3,16.1,23,36.6,23,61.6,0,88.2-52.4,107.6-102.3,113.3,8,7.1,15.2,21.1,15.2,42.5,0,30.7-.3,55.5-.3,63,0,5.4,3.1,11.5,11.4,11.5a19.35,19.35,0,0,0,4-.4C415.9,449.2,480,363.1,480,261.7,480,134.9,379.7,32,256,32Z"
                        ></path>
                        <!--]--></svg
                      ><!--]--></a
                    ><!--]-->
                  </div>
                  <!--]-->
                </div>
              </header>
              <div class="p-4 pb-8 lg:p-10" data-v-50a6b668="">
                <!--[-->
                <div class="markdown-body">
                  <h1>Table</h1>
                  <h2>Examples</h2>
                  <p>table</p>
                </div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-table-wrap">
                      <table class="dv-table table">
                        <colgroup>
                          <!--[-->
                          <col style="width: 20px" />
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: sticky"></th>
                            <th style="position: relative">name</th>
                            <th style="position: relative">job</th>
                            <th style="position: relative">favorite color</th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">1</td>
                            <td style="position: relative">Cy Ganderton</td>
                            <td style="position: relative">
                              Quality Control Specialist
                            </td>
                            <td style="position: relative">Blue</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">2</td>
                            <td style="position: relative">Hart Hagerty</td>
                            <td style="position: relative">
                              Desktop Support Technician
                            </td>
                            <td style="position: relative">Purple</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">3</td>
                            <td style="position: relative">Brice Swyre</td>
                            <td style="position: relative">Tax Accountant</td>
                            <td style="position: relative">Red</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">4</td>
                            <td style="position: relative">Marjy Ferencz</td>
                            <td style="position: relative">
                              Office Assistant I
                            </td>
                            <td style="position: relative">Crimson</td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-tsx rounded-md" hljs-language="tsx" data-v-03294aad=""><span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
  <span class="hljs-attr">setup</span>: <span class="hljs-function">() =&gt;</span> {
    <span class="hljs-keyword">const</span> columns = [
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">''</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'num'</span>,
        <span class="hljs-attr">fixed</span>: <span class="hljs-string">'left'</span>,
        <span class="hljs-attr">width</span>: <span class="hljs-number">20</span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">'name'</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'name'</span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">'job'</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'job'</span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">'favorite color'</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'favoriteColor'</span>,
      },
    ];

    <span class="hljs-keyword">const</span> dataSource = [
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">1</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Cy Ganderton'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Quality Control Specialist'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Blue'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">2</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Hart Hagerty'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Desktop Support Technician'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Purple'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">3</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Brice Swyre'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Tax Accountant'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Red'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">4</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Marjy Ferencz'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Office Assistant I'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Crimson'</span>,
      },
    ];
    <span class="hljs-keyword">return</span> <span class="hljs-function">() =&gt;</span> <span class="language-xml"><span class="hljs-tag">&lt;<span class="hljs-name">dv-table</span> <span class="hljs-attr">columns</span>=<span class="hljs-string">{columns}</span> <span class="hljs-attr">dataSource</span>=<span class="hljs-string">{dataSource}</span> /&gt;</span></span>;
  },
};
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body">
                  <p>table-zebra &amp; table-compact</p>
                </div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-table-wrap">
                      <table class="dv-table table table-zebra table-compact">
                        <colgroup>
                          <!--[-->
                          <col style="width: 20px" />
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: sticky"></th>
                            <th style="position: relative">name</th>
                            <th style="position: relative">job</th>
                            <th style="position: relative">favorite color</th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">1</td>
                            <td style="position: relative">Cy Ganderton</td>
                            <td style="position: relative">
                              Quality Control Specialist
                            </td>
                            <td style="position: relative">Blue</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">2</td>
                            <td style="position: relative">Hart Hagerty</td>
                            <td style="position: relative">
                              Desktop Support Technician
                            </td>
                            <td style="position: relative">Purple</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">3</td>
                            <td style="position: relative">Brice Swyre</td>
                            <td style="position: relative">Tax Accountant</td>
                            <td style="position: relative">Red</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky">4</td>
                            <td style="position: relative">Marjy Ferencz</td>
                            <td style="position: relative">
                              Office Assistant I
                            </td>
                            <td style="position: relative">Crimson</td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-html rounded-md" hljs-language="html" data-v-03294aad=""><span class="hljs-tag">&lt;<span class="hljs-name">template</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">dv-table</span> <span class="hljs-attr">:columns</span>=<span class="hljs-string">"columns"</span> <span class="hljs-attr">:dataSource</span>=<span class="hljs-string">"dataSource"</span> <span class="hljs-attr">zebra</span> <span class="hljs-attr">compact</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"tsx"</span>&gt;</span><span class="language-javascript">
  <span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
    <span class="hljs-attr">setup</span>: <span class="hljs-function">() =&gt;</span> {
      <span class="hljs-keyword">const</span> columns = [
        {
          <span class="hljs-attr">title</span>: <span class="hljs-string">''</span>,
          <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'num'</span>,
          <span class="hljs-attr">fixed</span>: <span class="hljs-string">'left'</span>,
          <span class="hljs-attr">width</span>: <span class="hljs-number">20</span>,
        },
        {
          <span class="hljs-attr">title</span>: <span class="hljs-string">'name'</span>,
          <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'name'</span>,
        },
        {
          <span class="hljs-attr">title</span>: <span class="hljs-string">'job'</span>,
          <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'job'</span>,
        },
        {
          <span class="hljs-attr">title</span>: <span class="hljs-string">'favorite color'</span>,
          <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'favoriteColor'</span>,
        },
      ];

      <span class="hljs-keyword">const</span> dataSource = [
        {
          <span class="hljs-attr">num</span>: <span class="hljs-number">1</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">'Cy Ganderton'</span>,
          <span class="hljs-attr">job</span>: <span class="hljs-string">'Quality Control Specialist'</span>,
          <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Blue'</span>,
        },
        {
          <span class="hljs-attr">num</span>: <span class="hljs-number">2</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">'Hart Hagerty'</span>,
          <span class="hljs-attr">job</span>: <span class="hljs-string">'Desktop Support Technician'</span>,
          <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Purple'</span>,
        },
        {
          <span class="hljs-attr">num</span>: <span class="hljs-number">3</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">'Brice Swyre'</span>,
          <span class="hljs-attr">job</span>: <span class="hljs-string">'Tax Accountant'</span>,
          <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Red'</span>,
        },
        {
          <span class="hljs-attr">num</span>: <span class="hljs-number">4</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">'Marjy Ferencz'</span>,
          <span class="hljs-attr">job</span>: <span class="hljs-string">'Office Assistant I'</span>,
          <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Crimson'</span>,
        },
      ];
      <span class="hljs-keyword">return</span> {
        columns,
        dataSource,
      };
    },
  };
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body"><p>table-jsx</p></div>
                <div class="dv-playground py-2" data-v-03294aad="">
                  <!--[-->
                  <div class="dv-tabs tabs">
                    <!--[--><a class="dv-tab tab tab-lifted tab-md tab-active"
                      >Preview</a
                    ><a class="dv-tab tab tab-lifted tab-md">Code</a
                    ><!--]-->
                    <div class="dv-tabs__lifted-item"></div>
                  </div>
                  <!--[-->
                  <div class="dv-tab-content" data-v-03294aad="">
                    <!--[--><!--[-->
                    <div class="dv-table-wrap">
                      <table class="dv-table table">
                        <colgroup>
                          <!--[-->
                          <col style="width: 20px" />
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: sticky"></th>
                            <th style="position: relative">name</th>
                            <th style="position: relative">job</th>
                            <th style="position: relative">
                              <!--[--><svg
                                class="dv-icon"
                                viewBox="0 0 24 24"
                                focusable="false"
                                aria-hidden="false"
                                fill="currentColor"
                                stroke="none"
                                style="font-size: 1.5em; margin-right: 6px"
                              >
                                <!--[-->
                                <path
                                  d="M19,11.5C19,11.5 17,13.67 17,15C17,16.1 17.9,17 19,17C20.1,17 21,16.1 21,15C21,13.67 19,11.5 19,11.5M5.21,10L10,5.21L14.79,10M16.56,8.94L7.62,0L6.21,1.41L8.59,3.79L3.44,8.94C2.85,9.5 2.85,10.47 3.44,11.06L8.94,16.56C9.23,16.85 9.62,17 10,17C10.38,17 10.77,16.85 11.06,16.56L16.56,11.06C17.15,10.47 17.15,9.5 16.56,8.94Z"
                                ></path>
                                <!--]--></svg
                              >favorite color<!--]-->
                            </th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky"><strong>1</strong></td>
                            <td style="position: relative">Cy Ganderton</td>
                            <td style="position: relative">
                              Quality Control Specialist
                            </td>
                            <td style="position: relative">
                              <span style="color: Blue">Blue</span>
                            </td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky"><strong>2</strong></td>
                            <td style="position: relative">Hart Hagerty</td>
                            <td style="position: relative">
                              Desktop Support Technician
                            </td>
                            <td style="position: relative">
                              <span style="color: Purple">Purple</span>
                            </td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky"><strong>3</strong></td>
                            <td style="position: relative">Brice Swyre</td>
                            <td style="position: relative">Tax Accountant</td>
                            <td style="position: relative">
                              <span style="color: Red">Red</span>
                            </td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: sticky"><strong>4</strong></td>
                            <td style="position: relative">Marjy Ferencz</td>
                            <td style="position: relative">
                              Office Assistant I
                            </td>
                            <td style="position: relative">
                              <span style="color: Crimson">Crimson</span>
                            </td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                    <!--]--><!--]-->
                  </div>
                  <div
                    class="dv-tab-content dv-tab-content--hidden"
                    data-v-03294aad=""
                  >
                    <!--[-->
                    <pre
                      data-v-03294aad=""
                    ><code class="hljs language-tsx rounded-md" hljs-language="tsx" data-v-03294aad=""><span class="hljs-keyword">export</span> <span class="hljs-keyword">default</span> {
  <span class="hljs-attr">setup</span>: <span class="hljs-function">() =&gt;</span> {
    <span class="hljs-keyword">const</span> columns = [
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">''</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'num'</span>,
        <span class="hljs-attr">fixed</span>: <span class="hljs-string">'left'</span>,
        <span class="hljs-attr">width</span>: <span class="hljs-number">20</span>,
        <span class="hljs-attr">render</span>: <span class="hljs-function">(<span class="hljs-params">num</span>) =&gt;</span> <span class="language-xml"><span class="hljs-tag">&lt;<span class="hljs-name">strong</span>&gt;</span>{num}<span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span></span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">'name'</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'name'</span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-string">'job'</span>,
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'job'</span>,
      },
      {
        <span class="hljs-attr">title</span>: <span class="hljs-function">() =&gt;</span> (
          <span class="language-xml"><span class="hljs-tag">&lt;&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">dv-icon-color</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"1.5em"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"margin-right: 6px"</span> /&gt;</span>
            favorite color
          <span class="hljs-tag">&lt;/&gt;</span></span>
        ),
        <span class="hljs-attr">dataIndex</span>: <span class="hljs-string">'favoriteColor'</span>,
        <span class="hljs-attr">render</span>: <span class="hljs-function">(<span class="hljs-params">color</span>) =&gt;</span> <span class="language-xml"><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">style</span>=<span class="hljs-string">{{</span> <span class="hljs-attr">color</span> }}&gt;</span>{color}<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span></span>,
      },
    ];

    <span class="hljs-keyword">const</span> dataSource = [
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">1</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Cy Ganderton'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Quality Control Specialist'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Blue'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">2</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Hart Hagerty'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Desktop Support Technician'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Purple'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">3</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Brice Swyre'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Tax Accountant'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Red'</span>,
      },
      {
        <span class="hljs-attr">num</span>: <span class="hljs-number">4</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">'Marjy Ferencz'</span>,
        <span class="hljs-attr">job</span>: <span class="hljs-string">'Office Assistant I'</span>,
        <span class="hljs-attr">favoriteColor</span>: <span class="hljs-string">'Crimson'</span>,
      },
    ];
    <span class="hljs-keyword">return</span> <span class="hljs-function">() =&gt;</span> <span class="language-xml"><span class="hljs-tag">&lt;<span class="hljs-name">dv-table</span> <span class="hljs-attr">columns</span>=<span class="hljs-string">{columns}</span> <span class="hljs-attr">dataSource</span>=<span class="hljs-string">{dataSource}</span> /&gt;</span></span>;
  },
};
</code></pre>
                    <!--]-->
                  </div>
                  <!--]--><!--]-->
                </div>
                <div class="markdown-body">
                  <h2>Table</h2>
                  <h3>Attributes</h3>
                  <div data-v-5c5a3078="">
                    <div
                      class="dv-table-wrap dv-markdowntable w-full"
                      data-v-5c5a3078=""
                    >
                      <table class="dv-table table table-zebra table-compact">
                        <colgroup>
                          <!--[-->
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <col style="width: " />
                          <!--]-->
                        </colgroup>
                        <thead>
                          <tr>
                            <!--[-->
                            <th style="position: relative">name</th>
                            <th style="position: relative">description</th>
                            <th style="position: relative">type</th>
                            <th style="position: relative">default</th>
                            <!--]-->
                          </tr>
                        </thead>
                        <tbody>
                          <!--[-->
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">columns</td>
                            <td style="position: relative">
                              table columns config
                            </td>
                            <td style="position: relative">ITableColumn[]</td>
                            <td style="position: relative">-</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">dataSource</td>
                            <td style="position: relative">
                              table data source
                            </td>
                            <td style="position: relative">array</td>
                            <td style="position: relative">-</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">compact</td>
                            <td style="position: relative">
                              makes table more compact
                            </td>
                            <td style="position: relative">boolean</td>
                            <td style="position: relative">-</td>
                            <!--]-->
                          </tr>
                          <tr class="hover">
                            <!--[-->
                            <td style="position: relative">zebra</td>
                            <td style="position: relative">
                              makes table rows zebra
                            </td>
                            <td style="position: relative">boolean</td>
                            <td style="position: relative">-</td>
                            <!--]-->
                          </tr>
                          <!--]-->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <h3>ITableColumn</h3>
                  <pre><code class="hljs language-ts"><span class="hljs-keyword">interface</span> ITableColumn&lt;T = unknown&gt; {
  title?: <span class="hljs-built_in">string</span> | (<span class="hljs-function">() =&gt;</span> <span class="hljs-built_in">any</span>);
  dataIndex?: <span class="hljs-built_in">string</span>;
  key?: <span class="hljs-built_in">string</span>;
  fixed?: <span class="hljs-string">'left'</span> | <span class="hljs-string">'right'</span>;
  render?: <span class="hljs-function">(<span class="hljs-params">text: <span class="hljs-built_in">string</span>, record: T, index: <span class="hljs-built_in">number</span></span>) =&gt;</span> <span class="hljs-built_in">any</span>;
}
</code></pre>
                </div>
                <!--]-->
              </div>
            </div>
            <!--]-->
          </div>
          <div class="drawer-side">
            <div class="drawer-overlay"></div>
            <!--[-->
            <div
              class="overflow-y-auto w-80 bg-white border-r border-gray-200"
              data-v-50a6b668=""
            >
              <ul class="menu compact rounded-box p-4" data-v-50a6b668="">
                <!--[-->
                <li class="menu-title" data-v-50a6b668="">
                  <span class="">Components</span>
                </li>
                <!--[-->
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/alert" class=""
                    >alert</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/artboard" class=""
                    >artboard</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/button" class=""
                    >button</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/drawer" class=""
                    >drawer</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/icons" class=""
                    >icons</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/menu" class=""
                    >menu</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a href="/daisyui-vue/components/tab" class="">tab</a
                  ><!--]-->
                </li>
                <li class="capitalize" childwrapper="false">
                  <!--[--><a
                    aria-current="page"
                    href="/daisyui-vue/components/table"
                    class="active router-link-exact-active"
                    >table</a
                  ><!--]-->
                </li>
                <!--]--><!--]-->
              </ul>
            </div>
            <!--]-->
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
